/**
 * VueFront Main SCSS file.
 * Add it to your vuefront.config.js file.

    css: [
        '@/assets/css/main.scss'
    ],

 * Other SCSS files should be included vie this main file.

    @import './templates/common/layout';

 */

@import 'node_modules/bootstrap/scss/functions';
@import 'variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'breadcrumbs.scss';
@import 'sticky-footer';
.main-content {
    padding-top: 30px;
}

a {
    color: #23a1d1
}