//Added border and bckground to button group
.vf-m-button-group {
    border: 1px solid #d3dce6;
    border-radius: 5px;
    .btn {
        background: #fafbfe;
        &.active,
        &:hover {
            background: #d3dce6;
        }
    }
}